{# templates/commande/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails de la commande{% endblock %}

{% block body %}
    <h1>Détails de la commande</h1>

    <dl>
        <dt>Numéro de commande</dt>
        <dd>{{ commande.id }}</dd>

        <dt>Nombre de colis</dt>
        <dd>{{ commande.NbrColis }}</dd>

        
            <ul>
                {% for colis in commande.getColis() %}
                    <li>{{ colis.numeroColis }} - Poids: {{ colis.poids }} kg</li>
                {% endfor %}
            </ul>
    </dl>
    

    <a href="{{ path('app_commande_index') }}">Retour à la liste des commandes</a>
{% endblock %}
